.search-text-field {
  width: 70%;
  margin-right: 15px;
}
.card {
  height: auto;
  width: auto;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}
